/*header*/	
	.headwrap{width:100%;min-width:500px;height:60px;background-color:indigo;margin:0;border-bottom:2px solid lightgray;}
	.headtitle{width:280px;padding:5px;float:left;line-height:48px;background-color:purple;opacity:0.8;color:white;font-size:24pt;text-align:center;font-family:Tahoma;}
	.headUserImg{width:52px;padding:1px;float:right;margin-right:30px;height:52px;background-color:black;border-radius:100%;margin-top:4px;}
	.headwrap img{width:50px;height:50px;border-radius:100%;}
	.clear{clear:both;}
	
/*Left Sidebar*/		
	.leftbar_wrap{padding-bottom:5px;width:100%;min-width:500px;background-color:black;color:whitesmoke;opacity:0.8}
	.leftbar_container{}
	.leftbar_navtitle{margin-left:30px;font-family:Arial;padding-top:10px;}
	.leftbar_title_dash{float:left;margin-left:30px;font-family:Arial Black;margin-top:10px;cursor:pointer}
	.leftbar_title{float:left;margin-left:30px;font-family:calibri;margin-top:10px;cursor:pointer;font-weight:bold;}
	.active{background-color:#333;}
	.leftbar_title:hover,leftbar_title_dash:hover{background-color:purple;}
	.drop{width:145px;font-size:9pt;font-family:tahoma;font-weight:normal;}
	.drop_list{margin-left:32px;padding-left:3px;width:110px;}
	.drop_list:hover{background-color:white;color:black;}
	.rightbar_container{width:100%;min-width:500px;min-height:74.9vh;background-color:violet;opacity:0.8;}
	.active1{color:red;}
	.tab {  display:none;}                   

/*footer*/
	.copyright_container{width:100%;min-width:500px;background-color:purple;margin:0;}
	.copyright_wrap{margin-left:45px; margin-right:45px;margin-top:3px;margin-bottom:3px;text-align:center;color:black;}
	#p1{font-family:calibri;}
	#p2{font-size:9pt;}